<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
<h2>Your Settings <small>{thisUser.userFullname} ({thisUser.userEmail})</small></h2>
<f:flashMessages />
<f:form action="update" name="userConfig" object="{userConfig}" >
    <div class="form-group">
        <label for="defaultContext">Set Default Context</label>
        <f:form.select id="defaultContext" property="defaultContext" options="{contextList}" optionLabelField="nameDe" class="form-control"/>
    </div>
    <f:form.submit value="Save Default Context" class="btn btn-default" />
</f:form>
<hr/>
<h3>Edit Your Contexts</h3>
<table class="table table-striped" >
    <tr>
        <th><f:translate key="tx_twsimpleworklist_domain_model_context.name_de" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_context.name_en" /></th>
        <th> </th>
        <th> </th>
    </tr>

    <f:for each="{contextList}" as="ctx">
        <tr>
            <td><f:link.action controller="Context" action="show" arguments="{context : ctx}"> {ctx.nameDe}</f:link.action></td>
            <td><f:link.action controller="Context" action="show" arguments="{context : ctx}"> {ctx.nameEn}</f:link.action></td>
            <td><f:link.action controller="Context" action="edit" arguments="{context : ctx}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</f:link.action></td>
            <td><f:link.action controller="Context" action="delete" arguments="{context : ctx}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</f:link.action></td>
        </tr>
    </f:for>
</table>

<f:link.action controller="Context" action="new"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Context</f:link.action>

</f:section>
</html>