<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for UserAccount</h1>

<f:flashMessages />

<table  class="table table-striped" >
	<tr>
		<th><f:translate key="tx_twsimpleworklist_domain_model_useraccount.user_email" /></th>
		<th><f:translate key="tx_twsimpleworklist_domain_model_useraccount.user_fullname" /></th>
	</tr>

	<f:for each="{userAccounts}" as="userAccount">
		<tr>
			<td>
				<f:if condition="{thisUser.uid} == {userAccount.uid}">
					<f:then>
						{userAccount.userEmail}
					</f:then>
					<f:else>
						<f:link.action controller="UserMessage" action="list" arguments="{thisUser : thisUser, otherUser : userAccount}"> {userAccount.userEmail}</f:link.action>
					</f:else>
				</f:if>
			</td>
			<td>
				<f:link.action action="show" arguments="{userAccount : userAccount}"> {userAccount.userFullname}</f:link.action>
			</td>
		</tr>
	</f:for>
</table>

</f:section>

</html>