<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
<h1><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <f:link.action action="edit" arguments="{project:project}">{project.name}</f:link.action></h1>
<h2><small>{project.description}</small></h2>

<f:flashMessages />
<!-- f:render partial="Project/Properties" arguments="{project:project}" / -->
<f:link.action action="new" arguments="{parentProject:project}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> <f:translate key="tx_twsimpleworklist_project_show.new_child" /></f:link.action>
<f:if condition="{deleteable}">
&nbsp;<f:link.action action="delete" arguments="{project:project}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <f:translate key="tx_twsimpleworklist_project_show.delete" /></f:link.action>
</f:if><br/>
<br/>
<f:render partial="Task/TaskListProject" arguments="{tasks:tasks}"/>
</f:section>
</html>
