<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-tw-simpleworklist" >
	<tr>
		<td>
			<f:translate key="tx_twsimpleworklist_domain_model_useraccount.user_email" />
		</td>
		<td>
		{userAccount.userEmail}
		</td>
	</tr>
	<!--
	<tr>
		<td>
			<f:translate key="tx_twsimpleworklist_domain_model_useraccount.user_password" />
		</td>
		<td>
		{userAccount.userPassword}
		</td>
	</tr>
	-->
	<tr>
		<td>
			<f:translate key="tx_twsimpleworklist_domain_model_useraccount.user_fullname" />
		</td>
		<td>
		{userAccount.userFullname}
		</td>
	</tr>
</table>
</html>