<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:flashMessages />

<f:if condition="{tasks}">
<table class="table table-striped" >
    <tr>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.focus" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.title" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.text" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.task_energy" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.task_time" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.due_date" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.task_state" /></th>
    </tr>

    <f:for each="{tasks}" as="task">
        <tr>
            <td>
                <f:if condition="{task.taskState} > 5">
                    <f:then>
                        <f:link.action controller="Task" action="undoneTask" arguments="{task : task}">
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        </f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action controller="Task" action="completeTask" arguments="{task : task}">
                            <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                        </f:link.action>
                    </f:else>
                </f:if>
                <f:if condition="{task.focus}">
                    <f:then>
                        <f:link.action controller="Task" action="unsetFocus" arguments="{task : task}">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action controller="Task" action="setFocus" arguments="{task : task}">
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        </f:link.action>
                    </f:else>
                </f:if>
            </td>
            <td><f:link.action class="dataDetailListTitle"
                               id="dataDetailProject_{task.uid}"
                               controller="Task" action="edit" arguments="{task : task}"> {task.title}</f:link.action>
            </td>
            <td>{task.text}</td>
            <td>
                <f:switch expression="{task.taskEnergy}">
                    <f:case value="0"></f:case>
                    <f:case value="1"><span class="badge">low</span></f:case>
                    <f:case value="2"><span class="badge">mid</span></f:case>
                    <f:case value="3"><span class="badge">high</span></f:case>
                </f:switch>
            </td>
            <td>
                <f:switch expression="{task.taskTime}">
                    <f:case value="0"></f:case>
                    <f:case value="1"><span class="badge">5 min</span></f:case>
                    <f:case value="2"><span class="badge">10 min</span></f:case>
                    <f:case value="3"><span class="badge">15 min</span></f:case>
                    <f:case value="4"><span class="badge">30 min</span></f:case>
                    <f:case value="5"><span class="badge">45 min</span></f:case>
                    <f:case value="6"><span class="badge">1 hours</span></f:case>
                    <f:case value="7"><span class="badge">2 hours</span></f:case>
                    <f:case value="8"><span class="badge">3 hours</span></f:case>
                    <f:case value="9"><span class="badge">4 hours</span></f:case>
                    <f:case value="10"><span class="badge">6 hours</span></f:case>
                    <f:case value="11"><span class="badge">8 hours</span></f:case>
                    <f:case value="12"><span class="badge">more</span></f:case>
                </f:switch>
            </td>
            <td>{task.dueDate -> f:format.date()}</td>
            <td>
                <f:switch expression="{task.taskState}">
                    <f:case value="0">
                        <f:link.action controller="Task" action="inbox"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> <f:translate key="tx_twsimpleworklist_layout_default.inbox" /></f:link.action>
                    </f:case>
                    <f:case value="1">
                        <f:link.action controller="Task" action="today"><span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span> <f:translate key="tx_twsimpleworklist_layout_default.today" /></f:link.action>
                    </f:case>
                    <f:case value="2">
                        <f:link.action controller="Task" action="next"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <f:translate key="tx_twsimpleworklist_layout_default.next" /></f:link.action>
                    </f:case>
                    <f:case value="3">
                        <f:link.action controller="Task" action="waiting"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> <f:translate key="tx_twsimpleworklist_layout_default.waiting" /></f:link.action>
                    </f:case>
                    <f:case value="4">
                        <f:link.action controller="Task" action="scheduled"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <f:translate key="tx_twsimpleworklist_layout_default.scheduled" /></f:link.action>
                    </f:case>
                    <f:case value="5">
                        <f:link.action controller="Task" action="someday"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> <f:translate key="tx_twsimpleworklist_layout_default.someday" /></f:link.action>
                    </f:case>
                    <f:case value="6">
                        <f:link.action controller="Task" action="focus"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> <f:translate key="tx_twsimpleworklist_layout_default.focus" /></f:link.action>
                    </f:case>
                    <f:case value="7">
                        <f:link.action controller="Task" action="completed"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> <f:translate key="tx_twsimpleworklist_layout_default.completed" /></f:link.action>
                    </f:case>
                    <f:case value="8">
                        <f:link.action controller="Task" action="trash"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <f:translate key="tx_twsimpleworklist_layout_default.trash" /></f:link.action>
                    </f:case>
                </f:switch>
            </td>
        </tr>
    </f:for>
</table>
</f:if>
</html>
