<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:flashMessages />

<table class="table table-striped" >
    <tr>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.focus" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.title" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.text" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.task_state" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.last_task_state" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.task_energy" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.task_time" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.due_date" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.order_id_project" /></th>
        <th><f:translate key="tx_twsimpleworklist_domain_model_task.order_id_task_state" /></th>
        <th> </th>
    </tr>

    <f:for each="{tasks}" as="task">
        <tr>
            <td>
                <f:if condition="{task.taskState}==6">
                    <f:then>
                        <f:link.action action="undoneTask" arguments="{task : task}">
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        </f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action action="completeTask" arguments="{task : task}">
                            <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                        </f:link.action>
                    </f:else>
                </f:if>
                <f:if condition="{task.focus}">
                    <f:then>
                        <f:link.action action="unsetFocus" arguments="{task : task}">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action action="setFocus" arguments="{task : task}">
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        </f:link.action>
                    </f:else>
                </f:if>
            </td>
            <td><f:link.action action="edit" arguments="{task : task}"> {task.title}</f:link.action></td>
            <td>{task.text}</td>
            <td>{task.taskState}</td>
            <td>{task.lastTaskState}</td>
            <td>{task.taskEnergy}</td>
            <td>{task.taskTime}</td>
            <td>{task.dueDate -> f:format.date()}</td>
            <td>{task.orderIdProject}</td>
            <td>{task.orderIdTaskState}</td>
            <td><f:link.action action="delete" arguments="{task : task}">Delete</f:link.action></td>
        </tr>
    </f:for>
</table>

</html>